/* Modifier `uk-nav-offcanvas`
 ========================================================================== */
/*
 * Items
 */
.uk-nav-offcanvas > li > a {
  color: #cccccc;
  padding: 8px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;
}
/*
 * Hover
 * No hover on touch devices because it behaves buggy in fixed offcanvas
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-nav-offcanvas > .uk-open > a,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
  background: #404040;
  color: #ffffff;
  /* 2 */
  outline: none;
}
/*
 * Active
 * `html .uk-nav` needed for higher specificity to override hover
 */
html .uk-nav.uk-nav-offcanvas > li.uk-active > a {
  background: #1a1a1a;
  color: #ffffff;
}
/*
 * Sub-object: `uk-nav-header`
 */
.uk-nav-offcanvas .uk-nav-header {
  color: #777777;
  margin-top: 0;
  background: #404040;
  font-size: 18px;
  padding: 10px 15px;
}
/*
 * Sub-object: `uk-nav-divider`
 */
.uk-nav-offcanvas .uk-nav-divider {
  margin: 0;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
}
/*
 * Nested items
 * No hover on touch devices because it behaves buggy in fixed offcanvas
 */
.uk-nav-offcanvas ul a {
  color: #cccccc;
}
html:not(.uk-touch) .uk-nav-offcanvas ul a:hover {
  color: #ffffff;
}
/*
     * Modifier `uk-nav-offcanvas`
     */






/* General overrides */

html, body {
	height: 100%;
  background-color: #e6e6e6;
  font-family: 'Kreon', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Kreon', serif;
  color: #4A1581;
}

p, a {
  font-family: 'Kreon', serif;
  color: #808080;
}

#app-wrapper {
	position: absolute;
	min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

#main-nav {
	
}

/* Footer */

#page-footer {
}

#footer-bar {
	background: #4A1581;
}

#footer-bar a{
	color: #e6e6e6;
}

#footer-bar a:hover {
  background-color: #4A1581 !important;
  border-color: #4A1581;
}

#footer-bar a:active {
  background-color: #29143F !important;
  border-color: #29143F;
}

/* Top Nav */

#top-nav {

}

#menu-icon, #user-icon, #search-icon{
	padding: 0px 10px;
	padding-top: 5px;
	color: #e6e6e6;
}

#nav-title {
	color: #e6e6e6;
	font-size: 1.5em;
}

.uk-navbar {
	background: #00A19A;
}

#top-nav a:hover {
	background-color: #00A19A !important;
}

#top-nav a:active {
	background-color: #006965 !important;
}

#nav-title {
  font-family: 'Kreon', serif;
  font-weight: bold;
}

/* Search Bar */

#search-bar {
  position: absolute;
  background: #006965;
  min-width: 100%;
  height: 40px;
  z-index: 5000;
}

.uk-panel-box-secondary {
  background: #006965;
}

.uk-search:before {
  color: #ffffff;
}

.uk-search-field {
  width: 240px;
  border-bottom: 1px solid #e6e6e6;
  color: #e6e6e6;
}

.uk-search-field:focus, .uk-active .uk-search-field {
  width: 240px;
}

.uk-search-close {
  color: #e6e6e6;
}

/* User Bar */

#user-bar {
  position: absolute;
  min-width: 100%;
  background-color: #006965;
  color: #e6e6e6;
  font-size: 16px;
  z-index: 5000;
}

#user-bar ul li {
  height: 41px;
}

#user-bar .uk-tab a {
  color: #e6e6e6;
}

#user-bar .uk-tab a:hover {
  background-color: #006965;
  border-color: #006965;
}

#user-bar .uk-tab-grid:before {
  border-top: 1px solid #006965;
}

#user-bar #basket-count {
  position: relative;
  top: -3px;
}

#basket-count-base {
  color: #9671c2;
  font-size: 20px;
}

#basket-count-value {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #e6e6e6;
}

/* Main COntent */

#page-content {
  margin: auto 20px;
  max-height: 80%;
  overflow-y: auto;
}

.page-title {
}

#home-wrapper {
}

#filter-button {
  color: #4A1581;
}

.home-box {
  height: 130px;
  width: 100%;
  /*border: 1px solid #e6e6e6;*/
  background-color: #9671c2;
  color: #e6e6e6;
  display: table;
}

.home-box p {
  margin-bottom: 0;
  color: #e6e6e6;
}

.home-icon {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* contact page */
#contact-content {
  background-color: #9671c2;
  padding: 10px 20px;
}

#contact-content h3, #contact-content p, #contact-content a {
  color: #e6e6e6;
}

/* FAQ Page */

#faq-wrapper ul li.uk-parent {
  margin-bottom: 5px;
}

#faq-wrapper ul li.uk-parent a {
  background-color: #9671c2;
  color: #e6e6e6;
  font-size: 16px;
}

#faq-wrapper ul li.uk-parent p {
  margin-bottom: 0;
}

#faq-wrapper ul.uk-nav-sub {
  margin-right: 5px;
}

/* Delivery Page */
#delivery-content .delivery-header h3 {
  background-color: #4A1581;
  color: #e6e6e6;
  padding: 5px 8px;
  margin-bottom: -15px;
}

#delivery-content thead {
  background-color: #9671c2;
  color: #e6e6e6;
}

#delivery-content tbody {
  color: #808080;
  text-align: center;
}

/* All Cards */

.filter-select {
  text-align: right;
  color: #4A1581;
}

#card-tiles {
  margin-top: 10px;
}

.card-tile {
  background-color: #C0C0C0;
  min-height: 150px;
}

#filter-wrapper {
  position: absolute;
}

#filter-tabs li {
  /*width: 25%;*/
  text-align: center;
  background-color: #9671c2;
  padding-top: 5px;
  padding-bottom: 5px;
}

#filter-tabs {
  margin-bottom: 0;
}

#filter-tabs li {
  padding-bottom: 0;
  padding-top: 0;
}

#filter-tabs li a {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 15px;
  padding: 6px;
}

#filter-tabs li a:hover, #filter-tabs li a:focus {
  background-color: #9671c2;
  color: #e6e6e6;
  border-color: transparent;
  margin-bottom: 0;
}

#filter-tabs li.uk-active > a {
  background-color: #4A1581;
  color: #e6e6e6;
  border-color: transparent;
  margin-bottom: 0;
}

#filter-content {
  background-color: #4A1581;
  padding: 10px 10px;
}

#filter-content p {
  color: #e6e6e6;
}

.filter-button {
  background-color: #e6e6e6;
  border-left: 2px solid #C0C0C0;
  border-bottom: 2px solid #C0C0C0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.filter-button:active, .filter-button.uk-active {
  background-color: #00A19A;
  border: none;
  border-top: 2px solid #006965;
  border-right: 2px solid #006965;
  color: #e6e6e6;
}

.filter-options-wrapper div {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#all-cards-filter {
  padding: 2px;
}

#all-cards-filter.open {
  color: #e6e6e6;
  background-color: #4A1581;
}

#filter-wrapper form {
  text-align: center;
}

#filter-wrapper form label {
  color: #e6e6e6;
  font-size: 16px;
  margin-right: 10px;
}

/* All Calendars */

.calendar-tile {
  background-color: #C0C0C0;
  min-height: 150px;
}

#calendar-tiles {
  margin-top: 10px;
}

/* My Account */

#login-form {
  margin-bottom: 20px;
}

 #login-button {
  margin-left: 20px;
 }




/* GPU Acceleration hack */
#off-canvas-wrapper, #search-bar, #user-bar, #faq-wrapper, #all-cards-wrapper{
	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

/* Remove bottom bar on tiny (iPhone 4) screens */
@media screen and (max-device-height: 480px) {
  #page-footer {
    display: none;
  }
}