<script type="text/html">
	<div id="all-cards-wrapper">
		<div id="all-cards-title-bar" class="uk-grid" data-uk-grid>
			<div class="page-title uk-width-3-4">
				<h2></h2>
			</div>
		</div>

		<div style="position: relative;">
			<div id="filter-wrapper" class="uk-width-4-4" style="display: none;">
				<ul id="filter-tabs" class="uk-tab uk-tab-grid" data-uk-switcher="{connect : '#filter-content'}">
					<li class="uk-width-1-4"><a href="#">For</a></li>
					<li class="uk-width-1-4"><a href="#">Relation</a></li>
					<li class="uk-width-1-4"><a href="#">Age</a></li>
					<li class="uk-width-1-4"><a href="#">Brand</a></li>
				</ul>
				<ul id="filter-content" class="uk-switcher uk-width-4-4">
					<li>
						<div class="filter-options-wrapper">
							<div>
								<button id="filter-him-button" class="uk-button filter-button" data-uk-button>Him</button>
							</div>
							<div>
								<button id="filter-her-button" class="uk-button filter-button" data-uk-button>Her</button>
							</div>
							<div >
								<button id="filter-boy-button" class="uk-button filter-button" data-uk-button>Boy</button>
							</div>
							<div>
								<button id="filter-girl-button" class="uk-button filter-button" data-uk-button>Girl</button>
							</div>
						</div>
					</li>
					<li><div class="filter-options-wrapper">
							<div>
								<button id="filter-brother-button" class="uk-button filter-button" data-uk-button>Brother</button>
							</div>
							<div>
								<button id="filter-cousin-button" class="uk-button filter-button" data-uk-button>Cousin</button>
							</div>
							<div>
								<button id="filter-dad-button" class="uk-button filter-button" data-uk-button>Dad</button>
							</div>
							<div>
								<button id="filter-daughter-button" class="uk-button filter-button" data-uk-button>Daughter</button>
							</div>
							<div>
								<button id="filter-granddaughter-button" class="uk-button filter-button" data-uk-button>Grand Daughter</button>
							</div>
							<div>
								<button id="filter-grandson-button" class="uk-button filter-button" data-uk-button>Grandson</button>
							</div>
							<div>
								<button id="filter-mum-button" class="uk-button filter-button" data-uk-button>Mum</button>
							</div>
							<div>
								<button id="filter-nan-button" class="uk-button filter-button" data-uk-button>Nan</button>
							</div>
							<div>
								<button id="filter-newphew-button" class="uk-button filter-button" data-uk-button>Nephew</button>
							</div>
							<div>
								<button id="filter-niece-button" class="uk-button filter-button" data-uk-button>Niece</button>
							</div>
							<div>
								<button id="filter-sister-button" class="uk-button filter-button" data-uk-button>Sister</button>
							</div>
							<div>
								<button id="filter-son-button" class="uk-button filter-button" data-uk-button>Son</button>
							</div>
							<div>
								<button id="filter-uncle-button" class="uk-button filter-button" data-uk-button>Uncle</button>
							</div>
							<div>
								<button id="filter-wife-button" class="uk-button filter-button" data-uk-button>Wife</button>
							</div>
						</div>
					</li>
					<li>
						<div>
							<form class="uk-form uk-width-1-1">
								<label>Select age: </label>
								<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
									<option>19</option>
									<option>20</option>
									<option>21</option>
								</select>
							</form>
						</div>
					</li>
					<li><div class="filter-options-wrapper">
							<div>
								<button id="filter-arsenal-button" class="uk-button filter-button" data-uk-button>Arsenal</button>
							</div>
							<div>
								<button id="filter-ben10-button" class="uk-button filter-button" data-uk-button>Ben 10</button>
							</div>
							<div>
								<button id="filter-charleybear-button" class="uk-button filter-button" data-uk-button>Charley Bear</button>
							</div>
							<div>
								<button id="filter-chelsea-button" class="uk-button filter-button" data-uk-button>Chelsea</button>
							</div>
							<div>
								<button id="filter-cliffrichard-button" class="uk-button filter-button" data-uk-button>Cliff Richard</button>
							</div>
							<div>
								<button id="filter-elvis-button" class="uk-button filter-button" data-uk-button>Elvis</button>
							</div>
							<div>
								<button id="filter-everton-button" class="uk-button filter-button" data-uk-button>Everton</button>
							</div>
							<div>
								<button id="filter-firemansam-button" class="uk-button filter-button" data-uk-button>Fireman Sam</button>
							</div>
							<div>
								<button id="filter-hellokitty-button" class="uk-button filter-button" data-uk-button>Hello Kitty</button>
							</div>
							<div>
								<button id="filter-keithlemon-button" class="uk-button filter-button" data-uk-button>Keith Lemon</button>
							</div>
							<div>
								<button id="filter-liverpool-button" class="uk-button filter-button" data-uk-button>Liverpool</button>
							</div>
							<div>
								<button id="filter-mancity-button" class="uk-button filter-button" data-uk-button>Man City</button>
							</div>
							<div>
								<button id="filter-manunited-button" class="uk-button filter-button" data-uk-button>Man United</button>
							</div>
							<div>
								<button id="filter-moshimonsters-button" class="uk-button filter-button" data-uk-button>Moshi Monsters</button>
							</div>
							<div>
								<button id="filter-mrsbrownsboys-button" class="uk-button filter-button" data-uk-button>Mrs Browns Boys</button>
							</div>
							<div>
								<button id="filter-onedirection-button" class="uk-button filter-button" data-uk-button>One Direction</button>
							</div>
							<div>
								<button id="filter-onlyfoolsandhorses-button" class="uk-button filter-button" data-uk-button>Only Fools and Horses</button>
							</div>
							<div>
								<button id="filter-towie-button" class="uk-button filter-button" data-uk-button>TOWIE</button>
							</div>
							<div>
								<button id="filter-raralion-button" class="uk-button filter-button" data-uk-button>Ra Ra Lion</button>
							</div>
							<div>
								<button id="filter-skylanders-button" class="uk-button filter-button" data-uk-button>Skylanders</button>
							</div>
							<div>
								<button id="filter-spongebob-button" class="uk-button filter-button" data-uk-button>Spongebob</button>
							</div>
							<div>
								<button id="filter-starwars-button" class="uk-button filter-button" data-uk-button>Star Wars</button>
							</div>
							<div>
								<button id="filter-thebigbangtheory-button" class="uk-button filter-button" data-uk-button>The Big Bang Theory</button>
							</div>
							<div>
								<button id="filter-spurs-button" class="uk-button filter-button" data-uk-button>Spurs</button>
							</div>
							<div>
								<button id="filter-transformers-button" class="uk-button filter-button" data-uk-button>Transformers</button>
							</div>
							<div>
								<button id="filter-unionj-button" class="uk-button filter-button" data-uk-button>Union J</button>
							</div>
							<div>
								<button id="filter-wallaceandgromit-button" class="uk-button filter-button" data-uk-button>Wallace and Gromit</button>
							</div>
						</div></li>
				</ul>
			</div>
		</div>

		<div id="all-cards-content" class="content">
			<div id="card-tiles" class="uk-grid">

				<!-- Placeholders for now -->
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>
				<div class="card-tile uk-width-1-3"></div>

			</div>
		</div>
	</div>
</script>