<script type="text/html">
	<div id="all-cards-wrapper">
		<div id="all-calendars-title-bar" class="uk-grid" data-uk-grid>
			<div class="page-title uk-width-3-4">
				<h2>All Calendars</h2>
			</div>
			<div class="filter-select uk-width-1-4">
				<i id="all-calendars-filter" class="fa fa-filter fa-fw fa-2x"></i>
			</div>
		</div>

		<div style="position: relative;">
			<div id="filter-wrapper" class="uk-width-4-4" style="display: none;">
				<ul id="filter-tabs" class="uk-tab uk-tab-grid" data-uk-switcher="{connect : '#filter-content'}">
					<li class="uk-width-1-2"><a href="#">Theme</a></li>
					<li class="uk-width-1-2"><a href="#">Brand</a></li>
				</ul>
				<ul id="filter-content" class="uk-switcher uk-width-4-4">
					<li>
						<div class="filter-options-wrapper">
							<div>
								<button id="filter-football-button" class="uk-button filter-button" data-uk-button>Football</button>
							</div>
							<div>
								<button id="filter-movieandtv-button" class="uk-button filter-button" data-uk-button>Movie & TV</button>
							</div>
							<div >
								<button id="filter-music-button" class="uk-button filter-button" data-uk-button>Music</button>
							</div>
							<div>
								<button id="filter-tv-button" class="uk-button filter-button" data-uk-button>TV</button>
							</div>
							<div>
								<button id="filter-tvhumour-button" class="uk-button filter-button" data-uk-button>TV Humour</button>
							</div>
							<div>
								<button id="filter-tvkids-button" class="uk-button filter-button" data-uk-button>TV Kids</button>
							</div>
						</div>
					</li>
					<li><div class="filter-options-wrapper">
							<div>
								<button id="filter-arsenal-button" class="uk-button filter-button" data-uk-button>Arsenal</button>
							</div>
							<div>
								<button id="filter-chelsea-button" class="uk-button filter-button" data-uk-button>Chelsea</button>
							</div>
							<div>
								<button id="filter-cliffrichard-button" class="uk-button filter-button" data-uk-button>Cliff Richard</button>
							</div>
							<div>
								<button id="filter-doctorwho-button" class="uk-button filter-button" data-uk-button>Doctor Who</button>
							</div>
							<div>
								<button id="filter-elvis-button" class="uk-button filter-button" data-uk-button>Elvis</button>
							</div>
							<div>
								<button id="filter-everton-button" class="uk-button filter-button" data-uk-button>Everton</button>
							</div>
							<div>
								<button id="filter-friends-button" class="uk-button filter-button" data-uk-button>Friends</button>
							</div>
							<div>
								<button id="filter-harrypotter-button" class="uk-button filter-button" data-uk-button>Harry Potter</button>
							</div>
							<div>
								<button id="filter-hellokitty-button" class="uk-button filter-button" data-uk-button>Hello Kitty</button>
							</div>
							<div>
								<button id="filter-liverpool-button" class="uk-button filter-button" data-uk-button>Liverpool</button>
							</div>
							<div>
								<button id="filter-mancity-button" class="uk-button filter-button" data-uk-button>Man City</button>
							</div>
							<div>
								<button id="filter-manunited-button" class="uk-button filter-button" data-uk-button>Man United</button>
							</div>
							<div>
								<button id="filter-simpsons-button" class="uk-button filter-button" data-uk-button>Simpsons</button>
							</div>
							<div>
								<button id="filter-starwars-button" class="uk-button filter-button" data-uk-button>Star Wars</button>
							</div>
							<div>
								<button id="filter-sunderland-button" class="uk-button filter-button" data-uk-button>Sunderland</button>
							</div>
							<div>
								<button id="filter-spurs-button" class="uk-button filter-button" data-uk-button>Spurs</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="all-calendars-content" class="content">
			<div id="calendar-tiles" class="uk-grid">

				<!-- Placeholders for now -->
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>
				<div class="calendar-tile uk-width-1-3"></div>

			</div>
		</div>
	</div>
</script>