<script type="text/html">

<div id="contact-wrapper">
	<div class="page-title">
		<h2><i class="fa fa-envelope-o fa-fw"></i> Contact us</h2>
	</div>
	<div id="contact-content" class="content">
		<h3>You can contact us by email, online, phone or by post.</h3>
		<p><strong>Email: </strong><a href="mailto:info@personalise.com">info@personalise.com</a></p>
		<p><strong>Phone (UK): </strong>01992 702 900</p>
		<p><strong>Phone (outside UK): </strong>+44 1992 702 900</p>
		<p><strong>By post:</strong><br>Personalise.com<br>Unit 3, IO Centre Lea Road<br>Waltham Cross<br>EN9 1AS</p>
		<p>Opening hours: 9:00am - 5:30pm Monday to Friday</p>
	</div>
</div>

</script>