<script type="text/html">
	<div id="delivery-wrapper">
		<div class="page-title">
			<h2><i class="fa fa-truck fa-fw"></i> Delivery Charges</h2>
		</div>
		<div id="delivery-content" class="content">
			<div class="delivery-header"><h3>Cards</h3></div>
			<table class="uk-table">
				<thead><tr>
					<th>Special Delivery</th>
					<th>Standard UK Delivery</th>
					<th>European Delivery</th>
					<th>Worldwide Delivery</th>
				</tr></thead>
				<tbody><tr>
					<td>£5.00</td>
					<td>FREE</td>
					<td>£1.49</td>
					<td>£2.49</td>
				</tr></tbody>
			<table>
			<div class="delivery-header"><h3>Calendars</h3></div>
			<table class="uk-table">
				<thead><tr>
					<th>Special Delivery</th>
					<th>Standard UK Delivery</th>
					<th>European Delivery</th>
					<th>Worldwide Delivery</th>
				</tr></thead>
				<tbody><tr>
					<td>N/A</td>
					<td>£1.99</td>
					<td>£2.99</td>
					<td>£4.99</td>
				</tr></tbody>
			<table>
		</div>
	</div>
</script>