<script type="text/html">
<div id="faq-wrapper">
	<div class="page-title">
		<h2><i class="fa fa-question-circle fa-fw"></i> FAQ</h2>
	</div>
	<div id="faq-content" class="content">
		<ul class="uk-nav" data-uk-nav>
			<li class="uk-parent"><a href="#">How long will deliveries take to arrive?</a>
				<ul class="uk-nav-sub">
					<li><p>Special Delivery - If your order is placed before 2pm, we will ship your order to arrive at the delivery address provided the next working day (available for UK delivery address only). UK Standard Delivery - If your order is placed before 2pm, we will ship your order the same day with a delivery time of 1-3 working days. *Standard deliveries to Highlands, Islands and Northern Ireland may take longer than standard Royal Mail delivery. *Intervening holidays such as Good Friday, Easter Monday, Christmas Day, Boxing Day, New Year's Day and public bank holidays may affect delivery. Europe and rest of the world standard Delivery - If your order is placed before 2pm, we will ship your order the same day by Royal Mail 1st Class post. Unfortunately, we cannot provide delivery times for all European and worldwide countries, but please find estimated dates advised by Royal Mail below. Europe 7 to 10 days, USA average 10- 14 working days, Australia 14 to 21 days, Rest of world average 21-28 days Note: Delivery times to British Forces Post Office (BFPO) addresses are dependent on BFPO schedules. Standard deliveries to Highlands, Islands and Northern Ireland may take longer than standard Royal Mail delivery. *Intervening holidays such as Good Friday, Easter Monday, Christmas Day, Boxing Day, New Year's Day and public bank holidays may affect delivery. PLEASE NOTE that when you select the dispatch date for your order, this will be the day it is shipped, not the day it is delivered.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">How do I complete a purchase?</a>
				<ul class="uk-nav-sub">
					<li><p>Once you have entered your name and personalised details, please click preview, where the artwork will be generated which you can review. This may take up to 1 minute depending on your connection speed, and then click add to basket to complete purchase.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">Do I need to set up an account to place an order?</a>
				<ul class="uk-nav-sub">
					<li><p>You do not have to set up an account or register in order to shop with personalise.com. To purchase without registering, just select buy as guest at checkout and fill in your details. Registering with us has its advantages, take a look: Make future purchases quicker as you will never need to fill in your account information again. Track your current order status and see your order history. Create your own personal address book. Reminders in your personal calendar for all your special occasions and we will email you two weeks before the event. Be the first to hear about exciting new products and offers.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">How do I personalise a card?</a>
				<ul class="uk-nav-sub">
					<li><p>Our cards allow the customer to change some text on the front of the card, be it name, relation or age. You can also personalise the message inside the greeting card. Just follow these 3 easy steps! 1, Pick the card you would like to order from browsing our website and select by clicking on the card image. 2, Type the recipient's name, relation or age into the white boxes as prompted and complete your personalised inside message. 3, Now just click preview and watch the card change before your eyes! If you're happy with the personalised card just add to basket. The card image that you see on the Preview page is exactly as it will be printed. We don't take responsibility for mistakes in personalisation, so please double-check everything is correct and that you have personalised all the available areas on the front and inside of the card.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">How do I personalise a calendar?</a>
				<ul class="uk-nav-sub">
					<li><p>Our Calendars allow the customer to change some text on the front of the calendar and also all inside month pages. To personalise a calendar just follow these 3 simple steps! 1, Pick the calendar you would like to order from browsing our website and select by clicking on the calendar image. 2, Type the recipient's name into the white boxes as prompted, this name will also appear on all month pages throughout the calendar. 3, Now just click the preview button and watch the calendar change before your eyes! (you can see the inside pages by tapping the arrows at the bottom of the page). If you're happy with the personalised calendar just add to basket. The calendar image that you see on the Preview page is exactly as it will be printed. We don't take responsibility for mistakes in personalisation, so please double-check everything is correct and you have personalised all areas correctly.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">Can I track my order?</a>
				<ul class="uk-nav-sub">
					<li><p>When your order is dispatched you will receive an email to confirm dispatch of your order. Unfortunately at the present time we do not offer a tracking service, as this is not offered by Royal Mail on the service we use.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">How will my personalised card/calendar be packed?</a>
				<ul class="uk-nav-sub">
					<li><p>Cards and Calendars are all dispatched in strong boarded envelopes, this is all to ensure your order arrives to you safely.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">What payment methods do you accept?</a>
				<ul class="uk-nav-sub">
					<li><p>We accept payment online for the following cards Mastercard, Visa, Visa Electron and Maestro and do not charge any extra for use of these cards. note: we do not accept payment via paypal.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">I'm making payment from outside the Uk, what currency are your prices in?</a>
				<ul class="uk-nav-sub">
					<li><p>If you are making payment from out side the UK by bank/credit card, your bank will just convert the British pound sterling price to which ever country currency your bank/credit card is located. Please contact your bank to find out what exchange rate they are using, as these change daily. All prices listed on Personalise.com are in British pound sterling.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">I'm making payment from outside the UK, what currency are your prices in?</a>
				<ul class="uk-nav-sub">
					<li><p>If you are making payment from out side the UK by bank/credit card, your bank will just convert the British pound sterling price to which ever country currency your bank/credit card is located. Please contact your bank to find out what exchange rate they are using, as these change daily. All prices listed on Personalise.com are in British pound sterling.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">Am I able to send a card to someone other than myself?</a>
				<ul class="uk-nav-sub">
					<li><p>Yes, After you have personalised your card/calendar when prompted enter delivery address you would like the personalised card/calendar to be delivered to. Or if you are a registered Personalise.com customer just select a delivery address from your address book.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">Are my personal details secured?</a>
				<ul class="uk-nav-sub">
					<li><p>We take security very seriously at personalise.com and we want our customers to feel comfortable using our website. We respect your right to privacy and will only process personal information you provide to us in accordance with the Data Protection Act 1998. For more information on our privacy policy please click here.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">I have a discount code, how do I use it?</a>
				<ul class="uk-nav-sub">
					<li><p>If you’re lucky enough to have a Personalise.com voucher code, once you’ve picked and personalised your card/calendar you will be directed to 'My Basket'. Enter the code you have in the voucher code white box that appears at the bottom left of the page, then just hit 'Apply'.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">I can't sign in to my acount</a>
				<ul class="uk-nav-sub">
					<li><p>If you are having problems signing in to your account, ensure that you are entering the correct email address and password for your existing account. If you continue to have problems logging in, try sending a 'forgotten password' reminder to your email address to ensure you have the correct email and password for login. For more help, contact us.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">Will I receive a spare envelope with my card?</a>
				<ul class="uk-nav-sub">
					<li><p>Yes, all our cards come with a separate spare envelope as well as the envelope the card is delivered to you in.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">What size are your calendars?</a>
				<ul class="uk-nav-sub">
					<li><p>You can pick from two diffrent size calendars. The small format is A4 (21.0 x 29.7cm) and the standard format is A3 (29.7 x 42.0cm).</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">What size are your cards?</a>
				<ul class="uk-nav-sub">
					<li><p>You can pick from two diffrent size personalised cards. The standard size which is 220 x 160mm and the large size which is 300x300mm.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">What are your Christmas opening hours?</a>
				<ul class="uk-nav-sub">
					<li><p>We will be closed Wed 25th, Thurs 26th, Sat 28th, Sun 29th Dec and Wed 1st Jan. Any order placed on these days will be dispatched the next working day.</p>
					</li>
				</ul>
			</li>
			<li class="uk-parent"><a href="#">Can I pick a dispach date for my order?</a>
				<ul class="uk-nav-sub">
					<li><p>Yes. Once you have personalised your card or calendar and entered the delivery address for your order, select the dispatch date you would like at the bottom of the delivery address page. Please note the dispatch date is the date your order with be posted.</p>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

</script>