<script type="text/html">

<div class="" id="home-wrapper">
	<div class="uk-grid" data-uk-grid-margin>
		<div class="uk-width-1-2">
			<div class="uk-grid">
				<div id="top-cards" class="uk-width-1-1">
					<div class="home-box">
						<div class="home-icon">
							<i class="fa fa-star fa-fw fa-5x"></i>
							<p>TOP CARDS</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-1-2">
			<div class="uk-grid">
				<div id="calendars" class="uk-width-1-1">
					<div class="home-box">
						<div class="home-icon">
							<i class="fa fa-calendar fa-fw fa-5x"></i>
							<p>CALENDARS</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-1-2">
			<div class="uk-grid">
				<div id="photo-cards" class="uk-width-1-1">
					<div class="home-box">
						<div class="home-icon">
							<i class="fa fa-camera fa-fw fa-5x"></i>
							<p>PHOTO CARDS</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-1-2">
			<div class="uk-grid">
				<div id="all-categories" class="uk-width-1-1">
					<div class="home-box">
						<div class="home-icon">
							<i class="fa fa-list fa-fw fa-5x"></i>
							<p>ALL CATEGORIES</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</script>