<script>
<div class="uk-grid">
	<div class="uk-width-1-1">
		<h3>Login</h3>
	</div>
	<div class="uk-width-1-1">
		<form class="uk-form" id="login-form">
			<fieldset>
				<input type="text" placeholder="Username" class="uk-margin-small-top">
				<input type="password" placeholder="Password" class="uk-margin-small-top">
				<button id="login-button" class="uk-button uk-button-primary">Login</button>
			</fieldset>
		</form>
	</div>
	<div class="uk-width-1-1">
		<h3>Register</h3>
	</div>
	<div class="uk-width-1-1">
		<form class="uk-form" id="register-form">
			<fieldset>
			</fieldset>
		</form>
	</div>
</div>
</script>