<script type="text/html">

<div class="uk-grid" id="top-nav-wrapper">
	<div class="uk-width-1-1">

		<nav class="uk-navbar" id="top-nav">
			<ul class="uk-navbar-nav">
				<li><a id="menu-icon" href="#off-canvas-wrapper" data-uk-offcanvas><i class="fa fa-bars fa-2x fa-fw"></i></a></li>
				<li><a id="nav-title" href="#" style="padding:0">personalise.com</img></a></li>
			</ul>
			<div class="uk-navbar-flip">
				<ul class="uk-navbar-nav">
					<li><a id="user-icon" href="#" data-toggle="#user-bar"><i class="fa fa-user fa-2x fa-fw"></i></a></li>
					<li><a id="search-icon" href="#" data-toggle="#search-bar"><i class="fa fa-search fa-2x fa-flip-horizontal fa-fw"></i></a></li>
				</ul>
			</div>
		</nav>

		<nav id="search-bar" class="uk-navbar" style="display: none;">
			<div class="uk-navbar-nav">
				<div class="uk-navbar-content uk-panel uk-panel-box uk-panel-box-secondary">
					<form class="uk-search" data-uk-search>
						<input class="uk-search-field" type="search" placeholder="tap here to search...">
						<button class="uk-search-close" type="reset"></button>
					</form>
				</div>
			</div>
		</nav>

		<div id="user-bar" class="" style="display: none;">
			<ul class="uk-tab uk-tab-flip uk-tab-grid">
				<li class="uk-width-4-10"><a id="account-link" href="#">My Account</a></li>
				<li class="uk-width-4-10"><a id="basket-link" href="#">Basket
					<span id="basket-count">
						<i id="basket-count-base" class="fa fa-circle fa-1x"></i>
						<div id="basket-count-value">3</div>
					</span>
				</a></li>
			</ul>
		</div>

		<div id="off-canvas-wrapper" class="uk-offcanvas">
			<div class="uk-offcanvas-bar">
				<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
					<li class="uk-nav-header">Main Menu</li>
					<li><a href="switchAllCards" data-category="All"><i class="fa fa-th-list fa-fw"></i> All Cards</a></li>
					<li><a href="switchAllCalendars" data-category="All"><i class="fa fa-th-list fa-fw"></i> All Calendars</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="switchAllCards" data-category="Boys"><i class="fa fa-male fa-fw"></i> Boys Cards</a></li>
					<li><a href="switchAllCards" data-category="Girls"><i class="fa fa-female fa-fw"></i> Girls Cards</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="switchAllCards" data-category="Kids"><i class="fa fa-rocket fa-fw"></i> Kids Cards</a></li>
					<li><a href="switchAllCards" data-category="Adults"><i class="fa fa-glass fa-fw"></i> Adults Cards</a></li>
					<li><a href="switchAllCards" data-category="Family"><i class="fa fa-home fa-fw"></i> Family Cards</a></li>
					<li><a href="switchAllCards" data-category="Humour"><i class="fa fa-smile-o fa-fw"></i> Humour Cards</a></li>
					<li><a href="switchAllCards" data-category="Seasonal"><i class="fa fa-leaf fa-fw"></i> Seasonal Cards</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="switchDelivery" data-category="Delivery"><i class="fa fa-truck fa-fw"></i> Delivery Charges</a></li>
					<li><a href="switchFaq" data-category="Faq"><i class="fa fa-question-circle fa-fw"></i> FAQ</a></li>
					<li><a href="switchContact" data-category="Contact"><i class="fa fa-envelope-o fa-fw"></i> Contact Us</a></li>
					<li class="uk-nav-divider"></li>
					<li><a id="link-desktop" href="http://www.personalise.com"><i class="fa fa-desktop fa-fw"></i> Desktop Site</a></li>
				<ul>					
			</div>
		</div>



	</div>
</div>

</script>