<script type="text/html">
<div id="myaccount-wrapper">
	<div class="page-title">
		<h2><i class="fa fa-user fa-fw"></i> My Account</h2>
	</div>
	<div id="myaccount-content" class="content">
		
	</div>
</div>
</script>