<script type="text/html">

<div class="uk-grid" id="footer-wrapper">
	<div class="uk-width-1-1">

		<ul class="uk-tab uk-tab-grid" id="footer-bar">
			<li class="uk-width-1-4"><a href="http://www.facebook.com/personalisecom?v=wall"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
			<li class="uk-width-1-4"><a href="http://twitter.com/PersonaliseCom"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
			<li class="uk-width-1-4"><a href="http://plus.google.com/+PersonaliseCom/posts"><i class="fa fa-google-plus fa-2x fa-fw"></i></a></li>
			<li class="uk-width-1-4"><a href="http://blog.personalise.com/"><i class="fa fa-rss fa-2x fa-fw"></i></a></li>
		</ul>

	</div>
</div>

</script>